#keywords_field {
	box-sizing: border-box;
	margin-bottom: 20px;
	min-height: 150px;
	padding: 10px;
	width: 100%;
}

#keywords_wrapper {
	margin-top: 5%;
	width: 35%;
}

#keywords_wrapper .label {
	font-size: 14px;
}

#keywords_save_btn {
	margin-right: 10px;
}

.wall_module .post.post_marked_as_ads {
	max-height: 42px;
	overflow: hidden;
}

.post_marked_as_ads .wall_post_text {
	padding: 2px 20px;
}

.vk-ads-free_guide .top_profile_link::before,
.vk-ads-free_guide #top_vk-ads-free_settings_link::before {
	animation: vk-ads-free_settings_arrow ease-in-out 0.5s infinite alternate;
	border: 10px solid transparent;
	border-left-color: #306397;
	border-left-width: 15px;
	content: '';
	display: block;
	height: 0px;
	margin-left: -30px;
	margin-top: 5px;
	position: absolute;
	width: 0px;
}

.vk-ads-free_guide .top_profile_link::before {
	border-left-color: rgba(255, 255, 255, 0.7);
	margin-top: 11px;
}

.vk-ads-free_guide .top_profile_link.active::before {
	border: 0px;
}

.vk-ads-free_guide #top_vk-ads-free_settings_link {
	animation: vk-ads-free_settings_bg ease-in-out 1s infinite alternate;
}

@keyframes vk-ads-free_settings_arrow {
	0% {
		transform: translate(0px, 0px)
	}
	100% {
		transform: translate(10px, 0px)
	}
}

@keyframes vk-ads-free_settings_bg {
	from {
		background-color: rgba(228, 234, 240, 0.2);
	}
	to {
		background-color: rgb(228, 234, 240);
	}
}