.vk-ads-free.ad-msg {
	display: block !important;
	font-family: monospace;
	padding: 15px 20px 20px;
}

.vk-ads-free.wall_post_more {
	cursor: pointer;
	display: block;
	font: 500 13px -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
	margin-top: 10px;
}